controller:
  service:
    targetPorts:
      http: http
      https: http
    annotations:
      # TODO - change this value to your cert
      service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:us-east-1:116279234263:certificate/b9f16823-437e-4e67-953c-f847b69cca1f"
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: '60'
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
    externalTrafficPolicy: Local
    ipFamilies:
      - IPv6
      - IPv4
  